@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* Màu nền chính - Slate 950 */
  color: #cbd5e1; /* Màu chữ mặc định - Slate 300 */
  font-family: 'Inter', sans-serif;
}